<div class="chat" *ngIf="messages">
    <div class="chat__messages">

        <cdk-virtual-scroll-viewport #virtualScroll appendOnly itemSize="15" class="chat__scroller">
            <div *cdkVirtualFor="let message of messages" class="chat__message">{{message.body}}</div>
        </cdk-virtual-scroll-viewport>

    </div>
    <div class="chat__form">
        <input type="text" #newMessage>
        <button type="button" (click)="sendMessage(newMessage.value, newMessage)">Send</button>
    </div>
</div>